* {
	margin: 0;
	padding: 0;
}

body {
	background:white;
}
.navi { /* figure out how to extend to bottom; 100% height isnt working */
	display: inline-block;
	position: relative;
	vertical-align:top;
	top:0;
	left:0;
	width:5%;
	height:100%;
}

.navi ul {
	-webkit-padding-start:0px;
}

.navi ul li{
	list-style-type: none;
	color: black;
	background-color: gray;
	padding-top:1em;
	padding-bottom:1em;
	text-align:center;
	border: double;
}

.header {
	text-align: center;
	background-color: gray;
	border: double;
	display: inline-block;
	position: absolute;
	right:0;
	top:0;
	width:94.6%;
	height:9.75em;
	padding-top: auto;
	padding-bottom: auto;
}

.header h1 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.about {
	text-align:center;
	position:absolute;
	padding-top:2em;
	padding-left:5%;
}

.about .past {
	width:27%;
	height:50%;
	position:relative;
	border:solid black 2px;
	display: inline-block;
}

.about .present {
	width:27%;
	height:50%;
	position:relative;
	border:solid black 2px;
	display: inline-block;
}

.about .future {
	width:27%;
	height:50%;
	position:relative;
	border:solid black 2px;
	display: inline-block;
}

.about section h3 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.about section p {
	padding: 0.5em;
}

.about h3 {
	padding-bottom: 1.5em;
}

.footer {
	background: gray;
	border:double;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align:center;
}

.footer ul li{
	display: inline-block;
	padding-left:1em;
}

.blogposts {
	margin-left:5%;
	margin-top:0.5em;
}

.blogposts dl1 {
	display:inline-block;
	position:relative;
	width:40%;
	vertical-align:center;
	text-align:center;
	margin-left:5em;
	margin-right:2em;
	margin-top:2em;
	margin-bottom:2em;
	background:gray;
	padding-bottom:2em;
}

.blogposts dl2 {
	display:inline-block;
	position:relative;
	width:40%;
	vertical-align:center;
	text-align:center;
	margin-left:2em;
	margin-right:4em;
	background:gray;
	padding-bottom:2em;
}

.blogposts dl1 h3, dl2 h3 {
	padding-top:1em;
	padding-bottom:1em;
}

.blogposts img {
	padding-bottom:1em;
}

.blogposts dt {
	padding-bottom:0.5em;
}