/* index */
body {
	font-family: 'PT Sans', sans-serif;
}

.header-content {
	background-image: url("../imgs/rsz_skyline.jpg");
	background-size:cover;
	color:white;
	height:350px;
}

.blog-header-content {
	background-image: url("../imgs/rsz_about-san-diego.jpg");
	background-size:cover;
	height:350px;
}

.blog-post-header-content {
	background-image: url("../imgs/rsz_SanDiego_header.jpg");
	background-size: cover;
	height:350px;
	color:white;
}

.header a, .footer a {
	color:white;
}

.links {
	background: #175B7F;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	font-weight:bold;
}

.about {
	padding-top:10px;
	padding-bottom:15px;
	text-align:center;
}

.about h3, h4 , .blogs h3 {
	padding-bottom:20px;
}

.about p, {
	padding-top:10px;
}

.about p, img, .blogs img {
	margin-top:10px;
	margin-bottom:30px;
}

.footer {
	background: #175B7F;
	font-weight:bold;
	padding:5px;
}


/* blog index */
.blogs {
	padding-top:10px;
	padding-bottom:35px;
	text-align:center;
}

.cheatsheets {
	padding-top:25px;
}


/* blog template */
.title h1 {
	text-align:left;
	margin-top:15px;
	color:#175B7F;
}

.subtitle h3 {
	text-align:left;
	font-style:italic;
	color:#175B7F;
}

.subtitle h4 {
	text-align:right;
	padding-top:15px;
	padding-bottom:0px;
	color:#175B7F;
}

.subtitle {
	border-bottom: 2px solid gray;
	margin-top:-15px;
}

.content {
	margin-top:15px;
	text-indent:2em;
}

.panel.panel-default {
	margin-top:20px;
}

.content img {
	float: left;
	height:20em;
	width:20em;
	padding-right:15px;
	margin-bottom:10px;
}
