/* index */
body {
	font-family: 'PT Sans', sans-serif;
}

.header-content {
	background-image: url("../imgs/rsz_skyline.jpg");
	background-size:cover;
	color:white;
	height:350px;
}

a {
	color:black;
}

.links {
	background: #175B7F;
}

h1, h3, h4, h5 {
	text-align: center;
	font-weight:bold;
}

.about {
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
}

.about h3, h4 , .blogs h3{
	padding-bottom:20px;
}

.about p, {
	padding-top:10px;
}

.about p, img, .blogs img {
	margin-top:10px;
	margin-bottom:30px;
}

.footer {
	background: #175B7F;
	font-weight:bold;
	padding:5px;
}


/* blog index */
.blogs {
	padding-top:25px;
	padding-bottom:50px;
	text-align:center;
}
.cheatsheets {
	padding-top:25px;
}